/*Media Query for screen size < 700px */

@media screen and (max-width: 700px){
	.logo{
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	.name{
		width: 100%;
		text-align: center;
	}

	.fa{
		font-size: 2em;
		width: 40px;
		padding-top: 25px;
	}

	.img_rounded{
	border-radius: 10px;
	}
}

/*Media Query for 700px < screen size < 992px  */

@media screen and (min-width: 701px){
	.container{
		width: 650px;
	}

	.logo{
		margin-top: 20px;
	}

	.name_align{
		margin-bottom: 10px;
		float: right;
		clear: both;
	}

	h2{
		font-size: 35px;	
	}

	h3{
		font-size: 25px;
		margin-top: 10px;
	}
	.font_style{
		font-size: 30px;
	}

	.fa{
		font-size: 3em;
		width: 50px;
		padding-top: 15px;
	}
}

/*Media Query for screensize > 992px  */

@media screen and (min-width: 992px){
	.container {
	    width: 970px;
	}

	.name{
		padding-left: 45px;
	}

	.heading{
		font-size: 30px;
	}

	.project_1, 
	.project_2, 
	.project_3{
		width: 45%;
	}

	.project_1, 
	.project_2, 
	.project_3{
	position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
	}
	
	.font_style{
		font-size: 20px;
	}
}